<swiper [config]="config">
  <div class="swiper-wrapper">
    
    <div class="swiper-slide">
      <img src="./../../../assets/home/banners/banner-02.png" class="img-fluid">
      <div class="background-particulas">
        <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
      </div>
    </div>

    <div class="swiper-slide">
      <img src="./../../../assets/home/banners/banner-01.jpg" class="img-fluid">
    </div>
 
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
