<div class=" app-img-header">
  <div class="row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15670.438114532019!2d-37.0616724!3d-10.9172509!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x80044ffa81c16cd0!2sAvatar+B2B!5e0!3m2!1spt-BR!2sbr!4v1514961821910"
      width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>


<div class="container" style="background: #fff; box-shadow: 0 0 5px rgba(0,0,0,0.5); padding: 50px;">
  <div class="row">
    <div class="col-md-8">
      <form class="row">

        <div class="col-md-12">
          <mat-form-field class="form-full-width">
            <input matInput placeholder="Nome">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="form-full-width">
            <input matInput placeholder="Email">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="form-full-width">
            <input matInput placeholder="Telefone">
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field class="form-full-width">
            <textarea matInput placeholder="Mensagem" rows="4"> </textarea>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit">Enviar</button>
      </form>
    </div>
    <div class="col-md-4">
      <ul class="endereco-icons">

        <li>
          <a mat-mini-fab>
            <i class="fas fa-phone-volume "></i>
          </a>
          <p>
            (79) 3043 7463
          </p>
        </li>

        <li>
          <a mat-mini-fab>
            <i class="fab fa-whatsapp "></i>
          </a>
          <p>
            (79) 9971-7809
          </p>
        </li>

        <li>
          <a mat-mini-fab>
            <i class="fas fa-at "></i>
          </a>
          <p>
            contato@avatarb2b.com.br
          </p>
        </li>

        <li>
          <a mat-mini-fab>
            <i class="fas fa-map-marker-alt "></i>
          </a>
          <p>
            Rua Perminio de Souza, 448, Bairro Cirurgia, 49055-530, Aracaju - SE.
          </p>
        </li>

      </ul>
    </div>
  </div>
</div>
