<div class="top-bar">

</div>
<mat-toolbar class="header-menu" id="myHeader">
  <div class="container-menu-header-logo">
    <img src="./../assets/logo-avatar-branca-250x100.png" class="img-fluid logo-header" alt="AvatarB2B">
  </div>


  <div class="container-menu-header-itens">

    <a mat-button [routerLink]="['home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</a>

    <a mat-button [routerLink]="['sobre']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">A Avatar B2B</a>

    <a mat-button [routerLink]="['servicos']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Serviços</a>

    <a mat-button href="http://portalibar.com.br/" target="_blank">Ibar</a>

    <a mat-button [routerLink]="['portfolio']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Portfólio</a>

    <a mat-button href="http://novo.sedum.net.br/" target="_blank">Sedum</a>

    <a mat-button [routerLink]="['contato']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Contato</a>

  </div>
</mat-toolbar>
