<div class="container-fluid">
  <div class="row">
    <div class="main-banner-section">
      <img src="./../../../assets/servicos/banner-header.jpg" class="img-fluid " />
    </div>
  </div>

  <div class="container sec-serv">

    <div class="row sec-web-design">      
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="../../../assets/servicos/web-design.png" alt="Web Design" class="img-web-design img-fluid">
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="servico-descricao">
          <h1 class="text-white">Web Design</h1>
          <p class="text-white">Desenvolvemos sites, hotsites, blogs, portais responsivos (compatíveis com desktops, tablets e smartphones) com
            os fundamentos do design, programação, linguagens e percepção estética para um resultado final eficiente e agradável
            ao usuário.</p>
        </div>
      </div>
    </div>

    <div class="row sec-aplicativos">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="../../../assets/servicos/aplicativos.png" alt="Aplicativos" class="img-aplicativos img-fluid">
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="servico-descricao">
          <h1 class="text-white">Aplicativos Mobile</h1>
          <p class="text-white">A evolução no mundo do desenvolvimento de aplicativos mobile é constante, e nós estamos aptos a desenvolver aplicativo com as mais inovadoras tecnologias, realizamos o desenvolvimento Android, iOS ou Windows Phone.</p>
        </div>
      </div>
    </div>

    <div class="row sec-design">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="../../../assets/servicos/design.png" alt="Design" class="img-fluid">
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="servico-descricao">
          <h1 class="text-white">Design Gráfico</h1>
          <p class="text-white">Construção de marcas, branding, identidade visual corporativa, papelaria corporativa, manual de identidade visual,
            redesign e modernização de logotipos, logomarcas e símbolos.</p>
        </div>
      </div>
    </div>

    <div class="row sec-consultoria">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="../../../assets/servicos/consultoria.png" alt="Consultoria" class="img-fluid">
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="servico-descricao">
          <h1 class="text-white">Consultoria</h1>
          <p class="text-white">Auxiliamos no processo de desenvolvimento e acompanhamento de execução das ações que você precisa para melhor os
            teus indicadores de gestão.</p>
        </div>
      </div>
    </div>

  </div>
</div>
