@font-face {
    font-family: 'nunitobold';
    src: url('nunito-bold-webfont.woff2') format('woff2'),
         url('nunito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitolight';
    src: url('nunito-light-webfont.woff2') format('woff2'),
         url('nunito-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoregular';
    src: url('nunito-regular-webfont.woff2') format('woff2'),
         url('nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}