<div class="container-fluid pag-sobre">
  <div class="row">
    <div class="main-banner-section">
      <img src="./../../../assets/sobre/header-01.jpg" class="img-fluid" />
    </div>
  </div>

  <div class="container container-ajust">
    <div class="row">
      <div class="col-md-12 text-ajust">
        <br>
        <div class="container-titulo">
          <p class="azul">
            NOSSA HISTÓRIAS
          </p>
        </div>
        <br>
        <p>A empresa Avatar B2B iniciou suas atividades através da atuação em projetos de consultoria em Comunicação e Marketing.
          Posteriormente, atenta à demanda do mercado na área da Tecnologia da Informação e Comunicação, alargou seus horizonte,
          e com eles sua gama de produtos e serviços, migrando de uma estratégia centrada apenas em consultoria em gestão
          empresarial para um novo campo de atuação, dentro do atual conceito de Investigação, Desenvolvimento e Integração.</p>
        <p>
          Hoje desenvolvemos projetos inovadores, com garantia de qualidade e sustentabilidade. Nessa etapa, a equipe técnica percebeu
          uma série de problemas interligados às soluções tecnológicas convencionais, e visando atender ao nível de exigência
          dos seus clientes, buscou investir em soluções consolidadas mais eficientes e estáveis, considerando também a conciliação
          entre os sistemas adotados pelos parceiros comerciais. Atualmente, a empresa desenvolve projetos ligados ao uso
          de tecnologia da informação, com ênfase na implementação de sistemas Web (disponíveis na internet), integrados
          a aplicativos Mobile (disponíveis em celulares e tablets). Nesse campo, pode-se destacar o projeto IBAR e o projeto
          Gripom.
        </p>
      </div>
    </div>
  </div>
</div>