<div class="container-fluid sec-hom sec-hom-portfolio">

  <div class="container container-titulo">
    <p class="branco">
      HISTÓRIAS DE SUCESSO
    </p>
    <h1 class="branco">
      SOLUÇÕES CRIATIVAS DESENVOLVIDAS PARA NOSSOS CLIENTES.
    </h1>
  </div>

  <div class="row">

    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <mat-card class="card-portfolio">
        <div class="imagem-portfolio">
          <img mat-card-image src="./../../../assets/home/dacont-avatar.jpg" class="" alt="">
        </div>
        <mat-card-header>
          <div mat-card-avatar class="web-design-icon-card material-icons">
          </div>
          <mat-card-title>
            <a href="http://dacont.com.br/" target="_blanck">
              DACONT
            </a>
          </mat-card-title>
          <mat-card-subtitle>WEB DESIGN</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <mat-card class="card-portfolio">
        <div class="imagem-portfolio">
          <img mat-card-image src="./../../../assets/home/emsurb-avatar.jpg" class="" alt="">
        </div>
        <mat-card-header>
          <div mat-card-avatar class="app-icon-card material-icons">
          </div>
          <mat-card-title>
            <a href="https://play.google.com/store/apps/details?id=com.br.gvd.emsurb&hl=pt-BR" target="_blanck">
              EMSURB
            </a>
          </mat-card-title>
          <mat-card-subtitle>APLICATIVO MOBILE</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <mat-card class="card-portfolio">
        <div class="imagem-portfolio">
          <img mat-card-image src="./../../../assets/home/segview-avatar.jpg" class="" alt="">
        </div>
        <mat-card-header>
          <div mat-card-avatar class="web-design-icon-card material-icons">
          </div>
          <mat-card-title>
            <a href="http://www.segview.com.br" target="_blanck">
              SEGVIEW
            </a>
          </mat-card-title>
          <mat-card-subtitle>WEB DESIGN</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <mat-card class="card-portfolio">
        <div class="imagem-portfolio">
          <img mat-card-image src="./../../../assets/home/uniccat-avatar.jpg" class="" alt="">
        </div>
        <mat-card-header>
          <div mat-card-avatar class="web-design-icon-card material-icons">
          </div>
          <mat-card-title>
            <a href="http://uniccat.com.br/" target="_blanck">
              UNICCAT
            </a>
          </mat-card-title>
          <mat-card-subtitle>WEB DESIGN</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="container-botao">
      <a mat-raised-button [routerLink]="['/portfolio']">Veja nosso protfólio completo</a>
    </div>

  </div>
</div>
