<!--Footer-->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3 d-flex justify-content-center align-items-center">
          <img src="./../../../assets/footer/marca-avatar-footer.png" class="img-fluid">
        </div>
        <div class="col-12 col-sm-12 col-md-8 d-flex justify-content-between align-items-center menu-footer">
          <a [routerLink]="['/home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
          <a [routerLink]="['/sobre']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">A Avatar B2B</a>
          <a [routerLink]="['/servicos']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Serviços</a>
          <a href="http://portalibar.com.br/" target="_blank">Ibar</a>
          <a [routerLink]="['/portfolio']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Portfólio</a>
          <a href="http://novo.sedum.net.br/" target="_blank">Sedum</a>
          <a [routerLink]="['/contato']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Contato</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer-social">
      <a mat-mini-fab href="https://www.facebook.com/ibarportal" target="_blank" class="facebook-icon">
        <i class="fab fa-facebook-f fa-lg"></i>
      </a>
      <a mat-mini-fab href="https://twitter.com/portalibar" target="_blank" class="twitter-icon">
        <i class="fab fa-twitter fa-lg"></i>
      </a>
      <a mat-mini-fab href="https://plus.google.com/u/0/b/106737178080162507906/106737178080162507906" target="_blank" class="google-plus-icon">
        <i class="fab fa-google-plus-g fa-lg"></i>
      </a>
      <a mat-mini-fab href="https://play.google.com/store/apps/details?id=br.com.ibar&hl=pt-BR" target="_blank" class="google-play-icon">
        <i class="fab fa-google-play"></i>
      </a>
    </div>
    <hr>
    <div class="footer-copyright">
      <div class="container-fluid">
        © 2017 Copyright: AvatarB2B
      </div>
    </div>
  </footer>
  