<div class="container-fluid sec-hom sec-hom-ibar">
  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 justify-content-center align-content-center align-items-center d-flex">
        <img src="./../../../assets/ibar/ibar-dispositivos.png" class="img-fluid" alt="ibar" />
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 justify-content-center align-items-center d-flex flex-column">
        <div>
          <div class=" container-titulo">
            <p class="cinza">
              SEU RESTAURANTE EM TODO LUGAR.
            </p>
            <h1 class="azul">IBAR</h1>
          </div>
          <div class="conteiner-text">
            <p>O ibar é um sistema de gestão para bares e restaurantes. Apresenta dois focos de atuação, para os parceiros como
              um novo canal de vendas. E para os clientes interessados em consumir produtos dos estabelecimentos parceiros.
            </p>
            <a mat-raised-button href="https://play.google.com/store/apps/details?id=br.com.ibar&hl=pt_BR" target="_black" color="primary">
              Baixe já seu aplicativo
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
