<!-- ng-progress [meteor]="options.meteor" [color]="options.color" [minimum]="options.minimum" [speed]="options.speed" [spinner]="options.spinner"
  [spinnerPosition]="options.spinnerPosition" [direction]="options.direction" [thick]="options.thick" [trickleSpeed]="options.trickleSpeed"
  [ease]="options.ease">
</ng-progress>
<app-menu-header>
</app-menu-header>
<div class="mine-container content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer -->

<ng-progress [meteor]="options.meteor" [color]="options.color" [minimum]="options.minimum" [speed]="options.speed" [spinner]="options.spinner"
  [spinnerPosition]="options.spinnerPosition" [direction]="options.direction" [thick]="options.thick" [trickleSpeed]="options.trickleSpeed"
  [ease]="options.ease">
</ng-progress>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav>
    <div class="container-menu-itens" id="menu-side">

      <a mat-button [routerLink]="['home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="sidenav.close()">Home</a>

      <a mat-button [routerLink]="['sobre']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="sidenav.close()">A Avatar B2B</a>

      <a mat-button [routerLink]="['servicos']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="sidenav.close()">Serviços</a>

      <!-- a mat-button [routerLink]="['projetos']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="sidenav.close()">Projetos</a -->

      <a mat-button [routerLink]="['portfolio']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="sidenav.close()">Portfólio</a>

      <a mat-button href="http://sedum.net.br" target="_blank" (click)="sidenav.close()">Sedum</a>

      <a mat-button [routerLink]="['contato']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="sidenav.close()">Contato</a>

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-menu-header>
    </app-menu-header>

    <mat-toolbar class="header-menu" color="primary" id="myHeader-res">
      <div class="container-menu-header-logo">
        <img src="./../assets/logo-avatar-branca-250x100.png" class="img-fluid logo-header" alt="AvatarB2B">
      </div>
      <button mat-button (click)="sidenav.open()">
        <i class="fas fa-bars fa-lg"></i>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>