<div class="container-fluid sec-hom sec-hom-sedum">
  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 justify-content-center align-items-center d-flex flex-column">
        <div>
          <div class=" container-titulo">
            <p class="branco">
              A SOLUÇÃO PERFEITA PARA ORGANIZAR ESCOLA, PROFESSOR E ALUNO.
            </p>
            <h1 class="branco">SEDUM</h1>
          </div>
          <div class="conteiner-text">
            <p class="branco">Nossa solução é muito mais que um software, é uma poderosa ferramenta de gestão para mudar sua instituição de
              ensino.</p>
            <a mat-raised-button href="http://novo.sedum.net.br/" target="_blank">SAIBA MAIS SOBRE O SEDUM</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 justify-content-center align-content-center align-items-center d-flex">
        <img src="./../../../assets/sedum/sedum-dispositivos.png" class="img-fluid" alt="SEDUM" />
      </div>
    </div>
  </div>
</div>
