<div class="banner-height-full">
  <app-slider-swiper></app-slider-swiper>
</div>

<app-card-servicos></app-card-servicos>

<app-card-portfolio></app-card-portfolio>

<app-ibar-home></app-ibar-home>

<app-sedum-home></app-sedum-home>
