<div class="container-fluid sec-hom-portfolio">

  <div class="container-titulo">
    <p class="branco">
      HISTÓRIAS DE SUCESSO
    </p>
    <h1 class="branco">
      SOLUÇÕES CRIATIVAS DESENVOLVIDAS PARA NOSSOS CLIENTES.
    </h1>
  </div>
  <div class="row no-gutter">

    <div class="col-md-3">
      <a href="#" target="_blank" class="portfolio-box">
        <img src="./../../../assets/home/uroclinica-avatar.jpg" class="img-fluid" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
              WEB DESIGN
            </div>
            <div class="project-name">
              UROCLÍNICA
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="#" target="_blank" class="portfolio-box">
        <img src="./../../../assets/home/dacont-avatar.jpg" class="img-fluid" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
              Web Design
            </div>
            <div class="project-name">
              DACONT
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="#" target="_blank" class="portfolio-box">
        <img src="./../../../assets/home/segview-avatar.jpg" class="img-fluid" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
              Web Design
            </div>
            <div class="project-name">
              SEGVIEW
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="#" target="_blank" class="portfolio-box">
        <img src="./../../../assets/home/uniccat-avatar.jpg" class="img-fluid" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-category text-faded">
              Web Design
            </div>
            <div class="project-name">
              uniccat
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="width:100%; margin-top:15px;">
      <a mat-raised-button>Veja nosso protfólio completo</a>
    </div>
  </div>
</div>
