<div class="container-fluid sec-hom sec-hom-servicos">

  <div class="container">
    <div class="container-titulo">
      <p class="cinza">
        O QUE FAZ PARTE DOS NOSSOS SERVIÇOS?
      </p>
      <h1 class="azul">SOLUÇÕES QUE TRAZEM INOVAÇÃO PARA SUA EMPRESA. </h1>
    </div>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="card-servicos">
          <div class="container-icon-card">
            <img src="./../../../assets/home/web-design.png" class="icon-card" />
          </div>
          <div>
            <h1 class="card-titulo-servico">Web Design</h1>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="card-servicos">
          <div class="container-icon-card">
            <img src="./../../../assets/home/app.png" class="icon-card" />
          </div>
          <div>
            <h1 class="card-titulo-servico">Aplicativos Mobile</h1>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="card-servicos">
          <div class="container-icon-card">
            <img src="./../../../assets/home/identidade-visual.png" class="icon-card" />
          </div>
          <div>
            <h1 class="card-titulo-servico">Identidade Visual</h1>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="card-servicos">
          <div class="container-icon-card">
            <img src="./../../../assets/home/consultorias.png" class="icon-card" />
          </div>
          <div>
            <h1 class="card-titulo-servico">Consultorias</h1>
          </div>
        </div>
      </div>

      <div class="container-botao">
        <a mat-raised-button color="primary" [routerLink]="['/servicos']" >Lista compreta de serviços</a>
      </div>
    </div>
  </div>
</div>
