@media (max-width: 580px) {
  .container-titulo h1 {
    font-size: 1.2rem;
    position: relative;
  }
  .container-titulo p {
    font-size: 0.9rem;
  }
  .container-titulo p:after {
    left: 1.14035%;
  }
  /*SEC PORTFOLIO*/
  .card-portfolio .mat-card-avatar {
    width: 35px !important;
    height: 35px !important;
    top: -30px;
    right: 0px;
  }
  .card-portfolio .mat-card-title {
    font-size: 1.1rem;
    margin-bottom: 5px !important;
  }
  .card-portfolio .mat-card-subtitle {
    font-size: 0.7rem;
    margin-bottom: 10px !important;
  }
  /*SEC PORTFOLIO FIM*/
  .conteiner-text-ibar p {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  .conteiner-text-sedum p {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  .menu-footer a {
    display: none !important;
  }
}
