/*GERAL*/

html,
body {
    font-family: "nunitoregular" !important;
    background-color: #efefef !important;
}

.mine-container {
    position: relative;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
}

.banner-height-200 {
    background-color: #0b486b;
    height: 200px;
}

.container-botao {
    margin: 25px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CORES */

.branco {
    color: #fff;
}

.preto {
    color: #000;
}

.vermelho {
    color: #e07367;
}

.azul {
    color: #223958;
}

.cinza {
    color: #929299;
}


/*CABEÇALHOS*/

.container-titulo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    position: relative;
}

.container-titulo h1 {
    font-size: 1.7rem;
    position: relative;
}

.container-titulo p {
    font-size: 1.1rem;
    position: relative;
}

@media (min-width: 580px) {
    .container-titulo p:after {
        left: 1.14035%;
    }
}

.container-titulo p:after {
    background: #fabb05;
}

.container-titulo p:after {
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 80px;
}

.titulo01 {
    color: #5b4d97;
    font-size: 2rem;
    font-weight: normal;
}


/*BANNERS SECUNDARIOS*/

.main-banner-section {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
    height: auto;
    max-height: 350px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.container-ajust {
    padding: 25px 0;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}


/* GERAL SEC*/

.sec-hom {
    padding-top: 0px;
    padding-bottom: 0px;
}

.sec-hom .container {
    padding-top: 25px;
    padding-bottom: 25px;
}

.conteiner-text p {
    font-size: 1.2rem;
    text-align: justify;
}


/*HEADER*/

.top-bar {
    width: 100%;
    height: 3px;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 1s;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.header-menu img.logo-header {
    height: 50px;
}

.container-menu-header-itens .mat-button-focus-overlay {
    background-color: transparent;
}

.container-menu-header-itens a {
    font-family: "nunitoregular";
    color: #fff;
    border-bottom: 3px solid transparent;
}

.container-menu-header-itens a.active {
    background: #fff;
    color: #000;
    border-bottom: 3px solid rgb(238, 225, 106);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.container-menu-header-itens a:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-bottom: 3px solid #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #243a51;
    z-index: 999;
    transition: 1s;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.5);
}

#myHeader-res {
    display: none;
}

#myHeader-res .container-menu-header-logo img.logo-header {
    height: 44px !important;
}

@media (max-width: 979px) {
    #myHeader {
        display: none;
    }
    #myHeader-res {
        display: flex;
        justify-content: space-between;
    }
    #menu-side.container-menu-itens {
        display: flex;
        flex-direction: column;
    }
}


/* HOME */

.banner-height-full {
    position: relative;
    max-height: 800px;
    width: 100%;
    background: #142c47;
    overflow: hidden;
}

.background-particulas {
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
}

.bg-neural {
    margin-top: 25px;
    width: 100%;
    height: 350px;
    background-image: url("./imagens/rede-neural.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sec-hom-servicos {
    background-color: #d5e5ec;
}

.sec-hom-servicos .container {
    background-color: #fff;
}

.card-servicos {
    border-bottom: 5px solid #8db1c7;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    color: #e07367;
    min-height: 175px;
    margin-bottom: 15px;
}

.card-servicos:hover {
    background: #929299;
    transform: translateY(-10px);
    color: #fff !important;
}

.card-servicos .container-icon-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    height: 100px;
}

.card-servicos .card-titulo-servico {
    font-size: 1.3rem;
    text-align: center;
    margin: 10px 0;
}

.card-servicos .icon-card {
    width: 70px;
}


/*portfolio*/

.sec-hom-portfolio {
    background-color: #223958;
}

.card-portfolio {
    padding-bottom: 0px !important;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-portfolio .mat-card-header {
    position: relative;
}

.imagem-portfolio {
    width: calc(100% + 48px);
    margin: 0 -24px 16px -24px;
    height: 275px;
    transition: 1s;
    position: relative;
    overflow: hidden;
    background: #09c6a2;
}

.imagem-portfolio img {
    transition: 15s;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.imagem-portfolio:first-child {
    margin-top: -24px !important;
}

.imagem-portfolio img:hover {
    position: absolute;
    -webkit-transition: all 1500ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 1500ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 1500ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 1500ms ease-in;
    transform: scale(1.5);
}

.card-portfolio .mat-card-avatar {
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    top: -45px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.card-portfolio .web-design-icon-card {
    background: #bf232a;
    color: #fff;
}

.card-portfolio .web-design-icon-card:after {
    content: "computer";
}

.card-portfolio .app-icon-card {
    background: #5b4d97;
    color: #fff;
}

.card-portfolio .app-icon-card:after {
    content: "phone_android";
}

.card-portfolio .mat-card-title {
    font-size: 1.2rem;
    margin-bottom: 5px !important;
}

.card-portfolio .mat-card-subtitle {
    font-size: 0.8rem;
    margin-bottom: 10px !important;
}

@media (max-width: 580px) {
    .card-portfolio .mat-card-title {
        font-size: 1.1rem;
        margin-bottom: 5px !important;
    }
    .card-portfolio .mat-card-subtitle {
        font-size: 0.7rem;
        margin-bottom: 10px !important;
    }
}


/*IBAR HOME*/

.sec-hom-ibar {
    background-color: #f9ae56;
}

.sec-hom-ibar .container {
    background-color: #fff;
}


/* SEDUM HOME */

.sec-hom-sedum {
    background-color: #09c6a2;
}

.sec-hom-sedum .conteiner-text {
    padding-bottom: 15px;
}


/*SOBRE PÁGINA*/

.pag-sobre .main-banner-section {}

.pag-sobre .text-ajust {
    font-size: 1.3rem;
    text-align: justify;
    font-family: nunitolight;
}


/* SERVIÇOS PÁGINA */

.sec-serv {
    box-shadow: 2px 0px 1px rgba(0, 0, 0, 0.5), -2px 0px 1px rgba(0, 0, 0, 0.5);
}

.sec-serv h1 {
    font-size: 1.8rem;
    font-family: "nunitolight" !important;
}

.sec-serv p {
    font-size: 1.2rem;
    text-align: justify;
    font-family: "nunitolight" !important;
}

.sec-serv img {
    max-height: 250px;
}

.sec-serv .servico-descricao {
    padding-top: 15px;
}

.sec-web-design,
.sec-design,
.sec-marketing,
.sec-aplicativos,
.sec-consultoria {
    min-height: 400px;
}

.sec-web-design {
    background-color: #09c6a2;
}

.sec-aplicativos {
    background-color: #0b486b;
}

.sec-design {
    background-color: #f7ab6f;
}

.sec-consultoria {
    background-color: #70d5da;
}


/* SERVIÇOS PÁGINA FIM */


/*CONTATO*/

.form-full-width,
.mat-input-container {
    width: 100%;
}

.endereco-icons li a.mat-mini-fab {
    background-color: darkslateblue;
}

.endereco-icons {
    list-style: none;
    margin: 0px !important;
    padding: 0px !important;
}

.endereco-icons li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.endereco-icons li p {
    margin-bottom: 0 !important;
}

.endereco-icons li a {
    margin-right: 5px !important;
}


/*FOOTER*/

.footer {
    background-color: #243a51;
    color: #fff;
    padding-top: 20px;
    margin: 0;
    box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.5);
}

.footer .menu-footer a {
    padding-top: 10px;
    color: #fff;
}

.footer .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-social a {
    margin-left: 20px;
}

.footer .facebook-icon {
    background-color: #142c47;
}

.footer .instagram-icon {
    background-color: #dd4b39;
}

.footer .twitter-icon {
    background-color: #8db1c7;
}

.footer .google-plus-icon {
    background-color: #bf232a;
}

.footer-copyright {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 5px;
}